* {
	margin: 0;
	padding: 0;
}

ul, li{
	list-style-type: none;
	padding: 0;
}
input[type="checkbox"]{
	margin-right: 20px;
}
input[type="checkbox"]:checked + label{
	text-decoration: line-through;
}
